@import "tailwindcss";

@theme {
  --color-fae-yellow: #d5cf23;
  --color-fae-purple: #7a00d1;
  --color-fae-green: #4cca00;
  --color-fae-orange: #f47b00;

  --font-display: var(--font-turret-road), system-ui;
  --font-body: var(--font-roboto-condensed), system-ui;

  --drop-shadow-centered: 0px 0px 0.25rem rgb(0, 0, 0 / 0.25);
  --text-shadow-centered: 0px 0px 0.25rem rgb(0, 0, 0 / 0.25);
  --drop-shadow-centered-lg: 0px 0px 0.3rem rgb(0, 0, 0 / 0.25);
}
