---
import { Icon } from "astro-icon/components";

import Link from "./Link.astro";
---

<footer class="flex flex-col gap-y-3 text-lg font-semibold">
  <p class="font-microgramma uppercase">
    Donaciones y aportes al alias:
    <button class="underline md:text-xl" id="alias"> FESTIVAE.APORTES </button>
  </p>
  <div class="flex flex-col gap-y-3 font-tox md:text-2xl">
    <p>Seguinos en nuestras redes:</p>
    <ul class="flex items-center justify-around gap-3 max-md:flex-col">
      <li>
        <Link
          class="flex w-full items-center gap-2 rounded-2xl p-2 underline"
          external
          href="https://www.instagram.com/festiv.ae/"
        >
          <Icon aria-hidden="true" class="size-6" name="mdi:instagram" />
          Instagram
        </Link>
      </li>
      <li>
        <Link
          class="flex w-full items-center gap-2 rounded-2xl p-2 underline"
          external
          href="https://www.youtube.com/@festivaaee"
        >
          <Icon aria-hidden="true" class="size-6" name="mdi:youtube" />
          YouTube
        </Link>
      </li>
    </ul>
  </div>
</footer>

<script>
  const alias = document.getElementById("alias") as HTMLButtonElement;

  alias.addEventListener("click", async () => {
    const text = alias.textContent.trim();
    try {
      await navigator.clipboard.writeText(text);
      alert(`¡Se copió "${text}" al portapapeles!`);
    } catch (error) {
      alert(`¡No se pudo copiar "${text}" al portapapeles!`);
    }
  });
</script>
