---
import { SEO, type SEOProps } from "astro-seo";

interface Props extends SEOProps {
  class?: string;
  title: string;
}

const { class: className, title, ...seoProps } = Astro.props;

import { ViewTransitions } from "astro:transitions";
import Cursor from "../components/Cursor.astro";
---

<!doctype html>
<html
  class="selection:bg-violet-800/50 selection:text-neutral-50 motion-safe:scroll-smooth"
  lang="es"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <SEO {...seoProps} />
    <title>{title}</title>
    <ViewTransitions />
    <style is:global>
      @font-face {
        font-family: "Pirulen";
        src: url("/fonts/pirulen rg.otf") format("opentype");
        font-weight: bold;
        font-style: normal;
        font-display: block;
      }
      html {
        font-family: "Pirulen";
      }
    </style>
  </head>
  <body class="relative min-h-dvh bg-neutral-950" class:list={[className]}>
    <slot />
    <Cursor />
  </body>
</html>
